html{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Menggunakan gambar latar belakang */
body {
  background-image: url('img/background.png'); /* Ganti dengan path gambar */
  background-size: cover; /* Mengatur gambar agar menutupi seluruh layar */
  background-position: center; /* Menyelaraskan gambar di tengah */
  background-repeat: no-repeat; /* Menghentikan pengulangan gambar */
  height: 100vh; /* Mengatur tinggi halaman menjadi 100% dari viewport */
  margin: 0; /* Menghilangkan margin default */
  font-family: Arial, sans-serif; /* Menambahkan font */
}
.container {
  background-color: rgba(0, 0, 0, 0.23);
  padding: 20px;
  border-radius: 10px;
  width: 350px;
  text-align: center;
}

.content {
  text-align: center;
  color: white; /* Warna teks agar terlihat jelas di atas latar belakang */
  padding: 50px;
}
nav{
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 0.1rem 2rem;
}
nav div img{
  width: 180px;
}
nav ul{
  display: flex;
  list-style: none;
  gap: 2rem;
 align-items: center;
}
nav ul li a{
  text-decoration: none;
  font-family: "Segoe UI", sans-serif;
  color: #191919;
  font-weight: 600;
  padding: 8px 0;
  transition: all;
  transition-duration: 300ms;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}
nav ul li a:hover{
  color: #01a8d5;
  border-bottom: 2px solid #01a8d5;
}

/* ini  */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
  body {
  background: linear-gradient(-45deg, #02bbe4, #02bbe4, #02bbe4, #02bbe4, #3d5af1);
  background-size: 400% 400%;
  animation: animate 20s ease-in-out infinite;
  padding: 2em;
}
.wrapper {
  width: 90%;
  font-size: 16px;
  max-width: 43.75em;
  margin: 1em auto;
}
.container {
  width: 100%;
}
.sub-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3em;
}
.flex {
  display: flex;
  align-items: center;
}
.flex-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper h3 {
  color: #fff;
  font-weight: 500;
  margin-bottom: 0.6em;
}
.container input {
  display: block;
  width: 100%;
  border-radius: 1em;
  color: #fff;
  outline: none;
  font-weight: 400;
  margin-bottom: 0.6em;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px); /* Corrected syntax */
  -webkit-backdrop-filter: blur(10px); /* Corrected syntax */
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 1.25em 0.9em;
}

.container input::placeholder {
  color: #fff;
  opacity: 0.6; /* Firefox */
}


.container input:focus {
  border-color: #f1f962;
}
.total-amount-container,
.user-amount-container {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255,0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  padding: 1.25em 0.9em;
}

.output-container {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255,0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  padding: 1.25em 0.9em;
  margin: 2em 0;
  padding: 1.2em;
}
.output-container p {
  font-weight: 500;
  margin-bottom: 0.6em;
  color: #fff;
}
.output-container span {
  display: block;
  text-align: center;
  font-weight: 400;
  color: #fff;
}
.submit {
  font-size: 1em;
  margin-top: 0.8em;
  border: none;
  outline: none;
  color: rgb(225,232,116);
  padding: 0.6em 1.2em;
  border-radius: 0.8em;
  cursor: pointer;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255,0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.list {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255,0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  padding: 1.25em 0.9em;
}
.sublist-content {
  width: 100%;
  border-left: 0.3em solid #f1f962;
  margin-bottom: 0.6em;
  padding: 0.5em 1em;
  display: grid;
  grid-template-columns: 3fr 2fr 1fr 1fr;
}
.product {
  font-weight: 500;
  color: #ffffff;
}
.amount {
  color: #fff;
  margin-left: 20%;
}
.icons-container {
  width: 5em;
  margin: 1.2em;
  align-items: center;
}
.product-title {
  margin-bottom: 1em;
}
.hide {
  display: none;
}
.error {
  color: #ff465a;
}
.edit {
  margin-left: auto;
}
.edit,
.delete {
  background: transparent;
  cursor: pointer;
  margin-right: 1.5em;
  border: none;
  color: #f1f962;
}

.chart {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255,0));
  backdrop-filter: blur (10px);
  -webkit-backdrop-filter: blur (10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  padding: 1.25em 0.9em;
  margin: 2em 0;
}

@media screen and (max-width: 600px) {
  .wrapper {
    font-size: 14px;
  }
  .sub-container {
    grid-template-columns: 1fr;
    gap: 1em;
  }
}

@keyframes animate{
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}

.bottomtext {
  color: rgba(225, 232, 116, 0.6);
  font-weight: 100;
  align-items: center;
  display: flex;
  justify-content: center;
}
